 * {
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #000;
}

header {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  min-height: 70vh;
}

body {
  font-family: "Montserrat", sans-serif;
}

.menu {
  width: 100%;
  margin-bottom: 1rem;
}

.menu-list {
  display: flex;
  list-style: none;
  padding: 2rem;
}

.header-logo-container {
  margin-right: auto;
}

.header-logo {
  width: 3rem;
}

.menu-item-right {
  margin-right: 1rem;
}

/* .header-content {
  margin-top: -25rem;
} */

.container {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  align-items: center;
  padding:5rem;
  margin-top: -7rem;
  /* margin-bottom: auto; */
}

/* ubah */

/* .header-motto {
  font-family: "Oswald", sans-serif;
  font-size: 5rem;
  text-align: center;
  margin-top: -5rem;
} */

.header-phrase {
  font-size: 1.25rem;
  margin: 1rem;
}

.header-icon-container {
  display: flex;
}

.header-icon {
  width: 2rem;
  margin: 0 1rem;
}

.icon-phone {
  margin-left: 0.5rem;
}

.icon-tokped {
  margin-left: -0.35rem;
}

.arrow-down {
  width: 3rem;
  margin-bottom: 1rem;
}

.content {
  min-height: 100vh;
  /* display: flex;
  flex-direction: column; */
  /* margin-top: -18rem; */
}

.page-1 {
  max-height: 100vh;
  background-image: linear-gradient(#ecebe9, #e5e4e2);
  display: flex;
}

.img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.img-mockup {
  height: 80vh;
}


.desc-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 4rem;
}

.title {
  font-family: "Oswald", sans-serif;
  font-size: 3rem;
}

.content-links-container {
  margin-top: 2rem;
}

.content-links {
  display: flex;
  align-items: center;
}

.content-icon {
  width: 3rem;
  margin-top: 0.5rem;
  margin-right: 1rem;
}

.promo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  /* margin-right: 20rem;
  margin-left: 20rem; */
  margin-top: 3rem;
  padding: 2rem 2rem;
  /* border: 10px solid grey; */
  /* border-radius: 2rem; */
}

.catalog-container{
  /* height: 100vh; */
  /* border: 10px solid red; */
}

.catalog-content{
  height: 50vh;
}

.top-catalog{
  display: flex;
  justify-content: center;
}

.middle-catalog{
  display: flex;
  justify-content: center;
}

.bottom-catalog{
  display: flex;
  justify-content: center;
}

footer{
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

h3{
  text-align: center;
}

.social-media{
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}

.logo-icon{
  height: 3rem;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}
