* {
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #000;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

body {
  font-family: "Montserrat", sans-serif;
}

nav {
  z-index: 999;
}

ul {
  list-style: none;
}

.menu {
  width: 100%;
}

.menu-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

.menu-item-container {
  display: flex;
  align-items: center;
  min-width: 30vw;
  max-width: 30vw;
}

.menu-item-middle {
  margin: 0 1rem;
}

.header-logo-container {
  min-width: 30vw;
  max-width: 30vw;
}

.header-logo {
  width: 3rem;
}

.menu-item-right {
  margin-right: 1rem;
}

.menu-middle-container {
  justify-content: center;
}

.menu-right-container {
  justify-content: flex-end;
}

.menu-icon {
  width: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem;
}

.container-no-flex {
  padding: 5rem;
  margin-top: -7rem;
}

/* ubah */

.header-motto {
  font-family: "Oswald", sans-serif;
  font-size: 5rem;
  text-align: center;
  margin-top: -5rem;
}

.header-phrase {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.btn {
  background-color: #000;
  color: #fff;
  border-style: none;
  border-radius: 5px;
  font-size: 1rem;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
}

.header-icon-container {
  display: flex;
}

.header-icon {
  width: 2rem;
  margin: 0 1rem;
}

.icon-phone {
  margin-left: 0.5rem;
}

.icon-tokped {
  margin-left: -0.35rem;
}

.arrow-down {
  width: 3rem;
  margin-bottom: 1rem;
}

.content {
  min-height: 100vh;
}

.page-1 {
  background-color: #ecebe9;
  display: flex;
}

.img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 2rem;
}

.img-mockup {
  max-width: 50rem;
}

.desc-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 2rem;
  width: 50%;
}

.title {
  font-family: "Oswald", sans-serif;
  font-size: 3rem;
}

.content-links-container {
  margin-top: 2rem;
}

.content-links {
  display: flex;
  align-items: center;
}

.content-icon {
  width: 3rem;
  margin-top: 0.5rem;
  margin-right: 1rem;
}

@media (max-width: 667px) {
  .img-mockup {
    height: 50vh;
  }
  .top-catalog {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .middle-catalog {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .bottom-catalog {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .catalog-content {
    width: 50vh;
  }
}
