.fog {
  position: fixed;
  background-color: #000;
  opacity: 0.8;
  min-height: 100vh;
  min-width: 100vw;
  z-index: 3;
}

.catalog {
  position: relative;
  top: 7rem;
  display: flex;
  justify-content: space-around;
  height: calc(100vh - 7rem);
  max-height: calc(100vh - 7rem);
  max-width: 100vw;
  overflow-x: hidden;
}

.catalog-filter {
  padding: 2rem;
  width: 15rem;
  z-index: 4;
}

.filter-button,
.filter-button-container {
  display: none;
}

.filter-title {
  font-family: "Oswald", sans-serif;
  font-size: 1.3rem;
  padding: 1rem;
}

.filter-option {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 300;
  text-align: left;
  background-color: #fff;
  border: none;
  transition: background-color 0.3s;
  cursor: pointer;
}

.filter-option:hover {
  background-color: #f2f2f2;
}

.selected {
  background-color: #f2f2f2;
}

.catalog-grid {
  display: grid;
  justify-content: center;
  padding: 0 2rem;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  width: 85%;
  max-width: 85%;
  max-height: 100%;
  overflow-y: scroll;
}

.catalog-item {
  text-align: center;
  transition: background-color 0.5s;
}

.catalog-item:hover {
  background-color: #f2f2f2;
}

.catalog-pic {
  width: 100%;
  margin-bottom: -2rem;
}

.catalog-desc {
  font-family: "Oswald", sans-serif;
  font-size: 1.3rem;
}

.catalog-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-icon {
  width: 1.5rem;
  margin: 0.25rem 0.15rem;
}

@media (max-width: 1040px) {
  .catalog {
    flex-direction: column;
    align-items: center;
  }

  .catalog-grid {
    width: 92.5%;
    max-width: 92.5%;
  }

  .catalog-filter {
    position: fixed;
    left: 100%;
    height: auto;
    background-color: #fff;
    transition: transform 0.4s;
    border-radius: 5px;
    overflow-x: hidden;
  }

  .filter-button-container {
    position: relative;
    display: flex;
    width: 90%;
    max-width: 90%;
    justify-content: flex-end;
    margin: 1rem;
  }

  .filter-button {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    border: 1px solid #000;
    background-color: #f2f2f2;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 50px;
    cursor: pointer;
  }

  .filter-icon {
    margin-left: 0.5rem;
  }

  .filter-option {
    border-radius: 5px;
  }

  .shown {
    transform: translateX(-100%);
  }
}

@media (max-width: 420px) {
  .catalog-desc {
    margin-top: 1rem;
  }
}
